.cardArea {
  width: 100%;
  position: absolute;
  top: 10%;
  height: 85%;
  background-color: #ccc;
  display: flex;
  align-content: center;
}
.questionCard {
  /*Positioning*/
  width: 60%;
  height: 10%;
  position: relative;
  margin: auto;
  /*Appearance*/
  border-radius: 10px;
  border: 1px solid #686868;
  background-color: #ddd;
}
