html {
  height: 100%
  background-color: #bbb;
  background-size:cover;
  z-index: 1;
}
* {
  font-weight: 300px;
  color: black;
  background-color: #bbb;
  background-size: cover;
}
header {
  display: flex;
  width: 100%
  position: fixed;
  background-color: #a0a0a4;
  background-size: cover;
  align: center;
  z-index: 10;
}
header h1 {
  font-weight: 700;
}
#linkInt{
  display: flex;
  justify-content: center;
  float: both;
  background-color: #bbb;
  background-size: cover;
}
#linkInt h2 {
  padding: 20px;
}
#links .imagelinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #bbb;
  background-size: cover;
}
.icon {
  display: inline-block;
  padding: 20px;
}
