* {
  font-family: roboto;
  font-weight: 300px;
}
header {
  padding: 20px;
}
header.row {
  display: flex;
  align: center;
  background-color: #414147;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
header h1 {
  font-weight: 700;
  margin: 0;
}
