* {
  font-family: roboto;
}
header.row {
  display: flex;
  align: center;
  background-color: #414147;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header h1 {
  font-weight: 700;
}
